{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
<div class="container">

  <div class="row">

    {% if messages %}
    {% for message in messages %}

      <div class="alert {{message.tags}}" role="alert">
        {{message}}
      </div>

    {% endfor %}
    {% endif %}
  {% if posts %}
  {% for each in posts %}
    <div class="col-md-4 mb-2">
      <div class="card" >
        {% if each.images %}
          <img src="{{each.images.url}}" class="card-img-top" alt="image">
        {% else %}
        <img src="{% static 'post/images/default_post.jpg'%}" class="card-img-top" alt="image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title text-center"> <a class="text-decoration-none" href="{% url 'post_detail' each.id %}"> {{each.title|capfirst}} </a> </h5>
          <p class="card-text">{{each.content|truncatewords:30}}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            <span> {{each.created_on| naturaltime}}  </span>  | <span>Post by {{each.author|capfirst}}</span>
        </div>
      </div>
  </div>
  {% endfor %}
    {%else %}
    <div class="alert alert-primary" role="alert">
      No Post Availabel yet !
    </div>
    {% endif %}

    <!-- Pagination -->
    <!-- TODO: will design this later with bootstrap -->
    <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
 <!-- end pagination -->



  </div>

</div>
{% endblock %}
