{% extends 'base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
{%load static%}
<div class="container">
  {%for message in messages%}
  <h5>{{message}}</h5>
  {%endfor%}
  <div class="row">
    <div class="col-md-7">
      <div class="card mb-3">
        <img src="{{post.images.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content}}
             <br>
             <span><small class="">
                {% for cat in post.category.all %}
                <!--  TODO: will try to add number views or read -->
                  <span class="badge bg-primary rounded-pill"> <a class=" text-white text-decoration-none" href="{% url 'category' cat.name %}"> {{cat}}  </a> </span>

                {% endfor %}
             </small> </span>
          </p>
          <p class="card-text"><small class="text-muted">{{post.created_on| naturaltime}} | <span>Post by {{post.author|capfirst}} </small></p>
          <hr>
          <div class="row">
            <div class="col-6">
              <span class="badge bg-primary rounded-pill">   {{total_comments}} Comments </span>
            </div>
            <div class = "col-6">
              {%if user.is_authenticated%}
              {%if liked %}
              <form action="{%url "like_post" post.pk%}"method="POST">
                {%csrf_token%}
                <button class="btn btn-danger btn-sm" type="submit" name="post_id" value='{{post.id}}'><img width="35px" src="{%static 'post/images/like.png'%}" alt="like"></button> - {{total_likes}} likes
              </form>
              {%else%}
              <form action="{%url "like_post" post.pk%}"method="POST">
              {%csrf_token%}
              <button class="btn btn-primary btn-sm" type="submit" name="post_id" value='{{post.id}}'><img width="35px" src="{%static 'post/images/like.png'%}" alt="like"></button> - {{total_likes}} likes
              </form>
              {% endif %}
              {%endif%}
            </div>
          </div>
          <form action='' method="POST">
            {% csrf_token %}
            {{replyform | crispy}}
            {% if request.user.is_authenticated %}
            <input class='btn btn-primary' type='submit' value='comment'>
            {% else %}

             <div class="alert alert-secondary" role="alert">
               Login to post comment <a class="text-decoration-none " href="{% url 'login' %}"> <strong>Login</strong></a>
             </div>
             {% endif %}
          </form>
          <hr>
          {%if comments %}

          {%for each in comments%}
          <p><strong>{{ each.user|capfirst }}</strong> <br>

          {{ each.comments }}</p>
          <footer class="blockquote-footer"> <cite title="Source Title">{{each.date_added| naturaltime}}</cite></footer>
          <hr>
          {% endfor %}
          {% else %}

          <div class="alert alert-success" role="alert">
                No comment Yet... Add one
              </div>
          {% endif %}

        </div>
      </div>

    </div>

      <div class="col-md-4">
        <h3>Lastest Posts</h3>
        <ul class="list-group">
          {% for each in recent_posts %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="text-decoration-none  " href="{% url 'post_detail' each.id %}"> <h6> {{each.title}}</h6></a>
            <span class="badge bg-primary rounded-pill">14</span>
          </li>
          {% endfor %}
        </ul>
      </div>


  </div>
  </div>
{% endblock %}
