{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form class="" action="" method="POST">
        {% csrf_token %}
        {{login_form|crispy}}
        <input type="submit" class="btn btn-primary" name="" value="login">
      </form>
      <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Create an account</a>.</p>
    </div>
  </div>
</div>

{% endblock %}
