{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%} Register {% endblock %}
{% block content %}

<div class="container">
  <div class="row">

    <div class="col-md-6 m-4 p-4">
    <h5 class="text-center text-secondary">Create an Accounts</h5>
      <form class="" action="" method="POST">
        {% csrf_token %}
        {{register_form|crispy}}
        <input class="btn btn-primary" type="submit" name="" value="Register">
      </form>
      <p class="text-center">If you already have an account, <a class="text-decoration-none" href="{% url 'login' %}">login</a> instead.</p>
    </div>
  </div>
</div>


{% endblock%}
